@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    background-color: rgb(238, 245, 255);
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
}

.indent {
    padding-left: 15px;
}

p {
    font-size: 15px;
}

header {
    height: 40px;
    background-color: white;
}

h1 {
    margin: 0;
    margin-left: 25px;
    font-size: 20px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 12px;
    }
}

.paragraph {
    margin: 60px 0 20px 0px;
    font-size: 30px;

    &::before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: blue;
        margin-right: 10px;
    }
}

.zabuton {
    background-color: crimson;
    color: aliceblue;
    padding: 0 10px 0 10px;
}

#catch {
    font-size: 15px;

}

#cards {
    display: flex;
    gap: 10px;
}

.route {
    width: 100%;

}


















.accordion-body {
    font-size: 15px;
}